.dotfiles
.cache
.gnupg
.ssh
.pki
.rslsync
.vscode
.tor-browser

.bash_history
.bash_logout
.bash_profile
.viminfo

.cmake/packages

.config/unity3d
.config/google-chrome
.config/mono.addins
.config/Pinta
.config/pulse
.config/Code
.config/far2l
.config/sublime-merge/Cache
.config/sublime-text-3/Cache
.config/mpv/watch_later

.local/share/applications/chrome-*
.local/share/icons
.local/share/unity3d

Downloads
Sync
work
