.dotfiles
.cache
.gnupg
.ssh
.pki

.bash_history
.bash_logout
.bash_profile
.viminfo

.local/share/applications/chrome-*
.local/share/icons

.config/google-chrome
.config/mono.addins
.config/Pinta
.config/pulse

